<html>
   <body>
      <form action = "/add" method = "POST"
         enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <input type = "submit"/>

      </form>
      <form action="/status" method="GET">
      <button> stats</button>
      </form>
      <form action="/pause"  method = "GET">
         <button>pause</button>  
      </form>
      <form action="/resume"  method = "GET">
         <button>resume</button>  
      </form>
      <form action="/remove"  method = "POST">
         <button>remove</button>  
      </form>
   </body>
</html>